/* Project Name: Responsive Hero Section
Youtube: https://youtube.com/@devRasen
Copyright: ©MdRasen */

/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* General CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Custom CSS */
.container {
  width: 100%;
  height: 100vh;
  background-image: url(images/bg.png);
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.container .contents {
  width: 60%;
  padding-left: 140px;
}

.contents .head-title h2 {
  font-size: 78px;
  opacity: 0.7;
}

.contents .head-title h3 {
  font-size: 52px;
  margin-top: -25px;
}

.contents .btn {
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  background-color: #ffbd59;
  border: 2px solid #fff;
  border-radius: 6px;
  padding: 8px 10px;
  margin-top: 10px;
  transition: all 0.5s;
}

.contents .btn:hover {
  color: #ffbd59;
  background-color: #fff;
  border: 2px solid #ffbd59;
}

/* Responsive Design*/
@media (max-width: 850px) {
  .container .contents {
    width: 70%;
    padding-left: 80px;
  }

  .contents .head-title h2 {
    font-size: 68px;
  }

  .contents .head-title h3 {
    font-size: 44px;
  }
}

@media (max-width: 600px) {
  .container {
    background: linear-gradient(
        rgba(0, 0, 0, 0.2),
        #ffbd592b,
        #ffbf5fec,
        #ffbd59
      ),
      url(images/user.png);
    background-size: cover;
    background-position: bottom;
  }

  .container .contents {
    width: 100%;
    color: #fff;
    padding: 260px 30px 0;
  }

  .contents .head-title h2 {
    font-size: 52px;
  }

  .contents .head-title h3 {
    font-size: 38px;
  }
}
